%li{ id: "message-#{message.id}", class: (message.is_post? ? 'post' : 'comment') }
  
  .main-message
    = render 'author_avatar', message: message
    
    .wrapper    
      .wrapper-inner
        = render 'message_details', message: message
        = render 'message_body',    message: message
        = render 'message_actions', message: message
    
      - if message.is_post? && message.has_comments?
        = render 'comments_toggle', message: message
    
    - if policy(message).create?
      = render 'reply_form', parent_id: message.id
  
  - if message.has_comments?
    %ul{ id: "child-list-#{message.id}", class: (message.is_post? ? ['child-list', 'collapse', 'in'] : 'child-list' ) }
      = render partial: 'message', collection: message.comments.order(:created_at)